.captured-pieces {
    max-width: 512px;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.247); */
    background-color: var(--transparent2);
    display: flex;
    flex-wrap: wrap;
}


.captured-pieces img {
    width: 100%;
}

.captured-pieces img:hover {
    opacity: 1;
}

.captured-piece {
    width: 12.5%;
    aspect-ratio: 1;
    width: 10;
}

.captured-pieces:first-of-type {
    border-radius: 8px 8px 0 0;
}

.captured-pieces {
    border-radius: 0 0 8px 8px;
    padding: 0 8px;
}