/* Define the Helvetica font */
@font-face {
    font-family: 'Helvetica';
    src: url("Helvetica.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
body {
    font-family: 'Helvetica', sans-serif;
}  

:root {
    --backgroundColor: rgb(69, 69, 69);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: var(--backgroundColor);
    height: 100vh;
    padding: 32px;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container.menu {
    color: white;
    user-select: unset;
}

.container.menu input {
    margin-top: 32px;
    height: 32px;
    width: 256px;
    border-radius: 8px;
    border: 0;
    padding: 8px;
}

.container.menu button {
    background-color: rgb(255, 187, 0);
    width: 128px;
    height: 32px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    margin-top: 8px;
}

.container.menu button:hover {
    opacity: 0.5;
}


.container.menu .error {
    margin-top: 8px;
    color: red;
    font-family: 'Times New Roman', Times, serif;
}